# backend
backend/node_modules
backend/.env

# frontend (Flutter)
frontend/build
frontend/.dart_tool
frontend/.idea
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# general
.env
build